.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: hsl(59, 100%, 51%)
}

.Button:active {
    background-color: hsl(59, 100%, 51%) !important;
}

.Button:focus {
    color: hsl(59, 100%, 51%);
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
    background-color: hsl(59, 100%, 51%);
    color: #343a40
}

.BlueOutline,
.Blue:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color: hsl(115, 69%, 56%);
}

.Black,
.BlackOutline:hover {
    /* background-color: #242a3d;
  color: white; */
    background-color: #242a3d;
    color: aliceblue;
}

.Black:hover,
.BlackOutline {
    /* background-color: #dadadf;
  color: #242a3d;
  border-color: #242a3d; */
    background-color: aliceblue;
    color: #242a3d;
}

.Bright {
    background-color: hsl(115, 69%, 56%);
    color: #343a40
}