.Row {
    height: calc(100vh - 81px);
}

.Input {
    background: whitesmoke;
    border: 1px solid #343a40;
    box-sizing: border-box;
    border-radius: 5px;
    color: #343a40;
    text-align: center;
    padding: 10px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #343a40;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}

.Link span {
    color: #343a40;
}

.Container {
    padding: 30px 10px;
    /*background-color: #c0c0c0;*/
}

.SignInCol {
    height: 320px;
}

.SignUpCol {
    height: 375px;
}
.sign-up-img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 
        0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
}